@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
#grid{
    
    grid-template-columns: 33,3% 33,3% 33,4%;
    grid-template-rows:15% 60% 30%;
    grid-area:
    "direccion menu redes"
    ;
    max-height: 2em;
    
}


footer{
    
        grid-area: footer;
        display: grid;
        grid-template-columns: 33.4% 33.3% 33.3%;
        grid-template-areas:
        "ubicacion menu redes"
        ;
        background:linear-gradient(to top, gray,lightgray ) ;
        min-height: 200px;
        justify-content: center;
    
    .boxRight{
        grid-area: redes;
        display: flex;
        flex-direction: column;
        align-items: center;
        .redesSociales{
            display: flex;
            flex-direction: column;
            margin: 20px;
            color: $texto;
            width: 40px;

            
            
                
            }

        }
    }
    .boxCenter{
        grid-area: menu;
        display: flex;
        flex-direction: column;
        align-items: center;
        .footerMenu ul{
            display: flex;
            flex-direction: column;
                li{
                list-style: none;
                margin: 5px 0;
                a{
                    text-decoration: none;
                    color:$texto;
                    font-family:$font;
                    font-weight: $font-light;
                    .afooter:hover{
                        color: rgba(12, 11, 11, 0.938);
                        }
                }
        
        }
        
        }    
    }
    
    .boxLeft{
        grid-area: ubicacion;
        text-align: center;
        .ubicacion{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: $font;
            color: $texto;
            font-weight: 300;
            margin-top: 5px;
            }
}






