
body{
    font-family: $font;
    font-weight: $font-regular;
}
.type-light{ 
    font-family: $font;
    font-weight: $font-light;
}
.type-regular{
    font-family: $font;
    font-weight: $font-regular;
}
.type-medium{
    font-family: $font;
    font-weight: $font-medium;
}
.type-bold{
    font-family: $font;
    font-weight: $font-bold;
}
.type-black{
    font-family: $font;
    font-weight: $font-black;
}


